{:kotoba.app/latest "k51qzi5uqu5dhvkx7w6qpdodfyrr2q8pfzpn7xi1j1dozf9tngnkjfyjm6xz3r", :kotoba.app/site-cid "bafybeieozyvmbvxdinddbr5c3efmwhzxzjz2kx4tjlgd24pqsi7nlaigim", :kotoba.app/id "cloud.itonami.app-air-ops", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5dhvkx7w6qpdodfyrr2q8pfzpn7xi1j1dozf9tngnkjfyjm6xz3r", :published {:own-nodes {:cid "bafybeieozyvmbvxdinddbr5c3efmwhzxzjz2kx4tjlgd24pqsi7nlaigim", :ipns "k51qzi5uqu5dhvkx7w6qpdodfyrr2q8pfzpn7xi1j1dozf9tngnkjfyjm6xz3r", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T05:16:28Z"}}}
